.background {
  margin: 0 auto;
  background-color: yellow;
  width: 200px;
  border-radius: 6px;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
}

.background + .background {
  margin-top: 20px;
}

.name {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}
